@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo ao Projeto de Cadastro de Cliente</h1>
    <p>Esse projeto tera as funções de criar,editar,visualizar e deletar o cliente.</p>
</div>
